* {
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
}

.active {
    display: block;
    background-color: rgb(0, 0, 0,.75);
   /* margin-top: 10%;*/
    margin-bottom: 10%;
    width: 90%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid white;

}

.title, .title:visited, .title:focus {
    text-decoration: none;
    color: white;
}

.clicked {
    background-color: black;
}

img {
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 20px 30px 20px 10px;
    border-radius: 5px;
    border: 1px white solid;
    position: relative;
    left: 5%;
    right: 5%;
    top: 20px;
    bottom: 20px;    
}

.no-style {
    display: block;
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: 1px white solid;
    position: static;

}

p {
    font-size: 25px;
}
fieldset {
    display: block;
    color: white;
    margin-top: 75px;
    margin-bottom: 25px;
    border: red solid 1px;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    height: 150px;
}

.header {
    margin-top: 75px;
    margin-bottom: 25px;
    height: 150px;
}

h1 {
    font-size: 45px;
}

legend{
    font-size: 20px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
}

button:hover {
    background-color: red;
    color: white;
    border: 1px solid red;
    transition: .5s;
}


form.input {
    display: block;
    height: 20px;
    margin-bottom: 25px;
}

[for='username'], #username {
    display: inline-block;
    margin-top: 35px;
    margin-right: 20px;
}

[type='radio']{
    margin-right: 35px; 
}

[placeholder] {
    text-align: center;
    font-style: italic;
}

body {
    background: no-repeat fixed  url('https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/62536-istock-840767090.jpg?itok=8BVrL5dB&resize=1100x1100');
    background-size: cover;
    color: white;
}

.formHeader {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-size: 95px;
    position: static;
    height: auto;
    width: 40%;
    border-radius: 5px;
    border: 2px solid white;
    background-color: rgb(0, 0, 0,.75);

}

.hidden {
    display: none;
}

.js-intro, .js-gameform {
    height: 450px;
    width: 900px;
    background-color: rgb(0, 0, 0,.75);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

.answer-form {
    height: 450px;
    width: 900px;
    background-color: rgb(0, 0, 0,.75);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}

main {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

